@charset "utf-8";

/* 09월 01일 / 시작 : 07시 26분 / 종료 : 07시 35분 */
/* 09월 01일 / 시작 : 12시 15분 / 종료 : 12시 59분 */
/* 09월 01일 / 시작 : 17시 05분 / 종료 : 17시 27분 */
/* 09월 01일 / 시작 : 21시 45분 / 종료 : 21시 56분 */

/* 확인 & 수정 / 세세한 부분 다른거 꽤 있음, 큰틀은 맞음! 그러니까 오늘은 성공(?) */


* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #0a9b97;
    --sub-color: #104467;
    --back-color: #ffffff;
    --text-color: #666666;
    --container-width: 1340px;
    --slide-width: 100vw;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
}

.container {
    position: relative;
    margin: auto;
    width: var(--container-width);
}

header {
    position: relative;
    width: 1340px;
    height: 100px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#slides { height: 350px; }

footer {
    width: 1340px;
    height: 120px;
}

header .logo a img {
    width: 200px;
    height: auto;
    object-fit: contain;
    padding: 0 10px;
}

header nav {
    position: relative;
    z-index: 10;
}

header nav .main-menu {
    position: relative;
    display: flex;
    align-items: end;
}

header nav .main-menu li {
    width: 150px;
    line-height: 40px;
    height: 40px;
    text-align: center;
}

header nav .main-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

header nav .main-menu li a:hover {
    background-color: #333333;
}

header nav.sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 200px;
    display: none;
}

header nav.sub .inner {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
    background-color: var(--sub-color);
}

header nav.sub .sub-menu > li {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--sub-color);
}

header nav.sub .sub-menu > li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

header nav.sub .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}

#slides {
    width: var(--slide-width);
    height: 350px;
    overflow: hidden;
}

.slide-container {
    position: relative;
    display: flex;
}

.slide-container .slide {
    width: var(--slide-width);
    height: 350px;
}

.slide-container .slide img {
    width: var(--slide-width);
    height: 350px;
}

.link {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
}

.link nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.link nav a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-align: center;
}

.link nav a:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1340px;
    padding: 5px 20px;
}

.banner .inner {
    display: flex;
    align-items: center;
    column-gap: 50px;
    line-height: 40px;
}

.banner h1 { font-size: 24px; }

.banner span { font-size: 14px; }

.banner p { font-size: 16px; margin: 0; }

/* 흐잉... 요기까지! 이따가 저녁 밥 시간에 이어서 고고~ */

.tab {
    width: 100%;
    height: 200px;
    padding: 0 20px;
}

.tab-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 1px;
}
.tab-menu .menu-item {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--main-color);
}

.tab-menu .menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

.tab-menu .menu-item a:hover {
    background-color: var(--main-color);
    color: white;
}

.tab-content .content-item ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    width: 600px;
}

.tab-content .content-item ul li:nth-of-type(odd) {
    background-color: #eeeeee;
}

.tab-content .content-item ul li:nth-of-type(even) {
    background-color: var(--back-color);
}

.tab-content .content-item ul li:hover {
    filter: brightness(90%);
}

#content-gallery { display: none; }

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 160px;
    column-gap: 50px;
    padding: 0 20px;
}

.gallery .item { text-align: center; }

.gallery a img:hover { opacity: 0.7; }

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1340px;
    height: 120px;
    padding: 0 20px;
}

footer .footer-logo a img {
    filter: grayscale(100%);
    width: 200px;
    height: auto;
    object-fit: contain;
    padding: 0 20px;
}

footer .inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 20px;
    width: 100%;
}

footer .fnb {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
}

footer .fnb a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

footer .fnb a:hover {
    font-weight: bold;
    color: var(--main-color);
}

footer .fnb a:not(:first-of-type)::before {
    position: absolute;
    top: 3px;
    left: -50px;
    content: "";
    background-color: var(--sub-color);
    width: 2px;
    height: 18px;
}

#modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#modal .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#modal .card {
    background-color: white;
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

#modal .card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--main-color);
}

#modal .card p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-color);
}

#modal .close {
    padding: 5px 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}