@charset "utf-8";

/* 시험지 보고 스스로 치기 시작 12시 05분 / 종료 12시 49분 */
/* 시험지 보고 스스로 치기 시작 00시 00분 / 종료 00시 00분 */

* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
    --slide-width: 800px;
    --slide-height: 350px;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
}








.container {
    width: 1000px;
    display: flex;
}

#slides { height: var(--slide-height);}

#contents { height: 200px; }

section { width: 100%; }

footer { width: 100%; height: 100px; }

header {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: calc(350px + 200px + 100px);
    gap: 20px;
}










header .logo a img {
    width: 200px;
    height: auto;
    object-fit: contain;
}

header nav {
    position: relative;
    height: 100%;
    z-index: 10;
}

header nav .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav .main-menu li {
    width: 100%;
    height: auto;
    line-height: 50px;
    text-align: center;
}

header nav .main-menu li a {
    display: inline-block;
    color: white;
    width: 100%;
    height: auto;
}

header nav .main-menu li a:hover {
    background-color: #333333;
}

header nav .sub-menu {
    position: absolute;
    top: 0;
    left: 150px;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
}

header nav .sub-menu li {
    background-color: var(--sub-color);
}

header nav .sub-menu li a {
    color: var(--main-color);
}

header nav .sub-menu li a:hover {
    background-color: var(--main-color);
    color: white;
}









#slides {
    width: var(--slide-width);
    height: var(--slide-height);
    overflow: hidden;
}

.slide-container {
    position: relative;
    display: flex;
}

.slide-container .slide {
    width: var(--slide-width);
    height: var(--slide-height);
}

.slide-container .slide a img {
    width: var(--slide-width);
    height: var(--slide-height);
}










#contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    gap: 20px;
}

.tab-menu {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.tab-menu .menu-item {
    width: 100px;
    text-align: center;
    padding: 10px;
    background-color: var(--main-color);
    height: 40px;
} 

.tab-menu .menu-item a {
    color: white;
}

.tab-content .content-menu ul li a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 12px;
}

.tab-content .content-menu ul li:nth-of-type(odd) {
    background-color: var(--sub-color);
}

.tab-content .content-menu ul li:nth-of-type(even) {
    background-color: var(--back-color);
}

.tab-content .content-menu ul li:hover {
    filter: brightness(90%);
}

.btn-modal { cursor: pointer; }

.gallery {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 160px;
    align-items: center;
}