@charset "utf8";

/* 08월 31일 / 시작 : 22시 00분 / 종료 : 22시 45분 */
/* 09월 01일 / 시작 : 06시 10분 / 종료 : 06시 35분 */

/* js 하고나서 확인 작업 할것! */
/* 확인 05분 소요 / menu 위치 좀더 이쁘게 잡힘!
          / header 왜 가운데 정렬 안되는건지는 나도 모르겠음 */

* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #1b3b86;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
    --container-width: 1340px;
    --slide-width: 100vw;
    --slide-height: 350px;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
}

.container {
    width: var(--container-width);
    position: relative;
    margin: auto;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    padding: 0 20px;
}

section { width: 100%; }

footer { width: 100%; height: 120px; }

header .logo a img {
    width: 190px;
    height: 45px;
    object-fit: contain;
}
/* header 이 왜 자꾸만 슬라이드랑 같이 오른쪽 가는거지!? 따로 안들어가고...? */

header nav {
    position: relative;
    z-index: 10;
    top: 10%; /* 빼먹음! 드디어 자리 더 이쁘게 잡혔넹!? */
}

header nav .main-menu {
    display: flex;
    justify-content: end;
    align-items: center;
}

header nav .main-menu li {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header nav .main-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

header nav .main-menu li a:hover {
    background-color: var(--text-color);
}

header nav .sub-menu { display: none; }

header nav .sub-menu > li {
    background-color: var(--back-color);
}

header nav .sub-menu > li a {
    color: var(--main-color);
}

header nav .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}

#slides {
    width: var(--slide-width);
    height: var(--slide-height);
    overflow: hidden;
}

.slide-container {
    display: flex;
    position: relative;
}

.slide-container .slide {
    position: absolute;
    width: var(--slide-width);
    height: var(--slide-height);
}

.slide-container .slide a img {
    width: var(--slide-width);
    height: var(--slide-height);
}

.link {
    width: 100%;
    z-index: 10;
    padding: 0 20px;
}

.link nav {
    position: absolute;
    top: 29%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
}

.link nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.link nav a:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1340px;
    height: 100%;
}

.banner .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    padding: 0 20px;
    line-height: 30px;
}

.banner h1 { font-size: 24px; }

.banner span { font-size: 14px; }

.banner p { font-size: 16px; }

.banner a img { width: 100%; }

.tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    padding: 0 20px;
}

/* 오늘 너무 피곤해서 요기까지만... 나머지는 내일 회사가서... */

.tab-menu {
    position: relative;
    display: flex;
    padding: 0 20px;
}

.tab-menu .menu-item {
    width: 100px;
    height: 40px;
    line-height: 40px;
}

.tab-menu .menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--main-color);
    background-color: var(--sub-color);
}

.tab-menu .menu-item a:hover {
    background-color: var(--main-color);
    color: white;
}

.tab-content .content-item ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    padding: 0 20px;
}

.tab-content .content-item ul li:nth-of-type(odd) {
    background-color: var(--sub-color);
}

.tab-content .content-item ul li:nth-of-type(even) {
    background-color: var(--back-color);
}

.tab-content .content-item ul li:hover {
    filter: brightness(90%);
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 160px;
    padding: 0 20px;
    column-gap: 30px;
}

.gallery .item { text-align: center; }

footer {
    width: 1340px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

footer .copy { padding: 0 20px; }

footer .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

footer .sns {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

footer .sns a img {
    height: 40px;
    width: 40px;
}

footer .family {
    display: flex;
    align-items: center;
}

footer .family select {
    padding: 5px 10px;
    text-align: center;
    background-color: var(--sub-color);
    color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

#modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#modal .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#modal .card {
    background-color: white;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

#modal .card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--main-color);
}

#modal .card p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-color);
}

#modal .close {
    padding: 5px 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}