@charset "utf-8";

/* 시험지 만 보고 html.css.js 다 작성 해보기 도전! */

/* 09월 03일 시작 : 17시 12분 / 종료 : 17시 27분 */

* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
    --container-width: 100vw;
    --slide-width: 400px calc(100vw - 200px - 400px);
    --slide-height: calc(100vh - 120px);
}

.container {
    display: grid;
    grid-template-columns: 200px 400px 1fr;
    grid-template-rows: calc(100vh - 120px);
}

header {
    width: 200px;
    height: calc(100vh - 120px);
    background-color: var(--main-color);
    position: relative;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* 시험지에는 왼쪽에 가까운데, start 로 해야하나? */
    row-gap: 30px;
}

#slides { width: 400px; }

#contents { width: 400px; }

footer { width: 100%; height: 120px; }

header .logo-a img {
    width: 190px;
    height: 45px;
    object-fit: contain;
    padding: 0 10px;
}

header nav {
    position: relative;
    z-index: 10;
}

header nav .main-menu {
    display: flex;
    align-items: center;
}

header nav .main-menu li 

header nav .main-menu li a 

header nav .main-menu li a:hover 

header nav .sub-menu > li 

header nav .sub-menu > li a 

header nav .sub-menu > li a:hover 