@charset "utf-8";

/* 시험지 만 보고 html.css.js 다 작성 해보기 도전! */

/* 09월 03일 시작 : 17시 12분 / 종료 : 17시 27분 */
/* 09월 03일 시작 : 21시 40분 / 종료 : 22시 35분 */
/* 09월 04일 시작 : 05시 54분 / 종료 : 06시 25분 */

/* 아... 컨텐츠 영역 망해가네.. 이거 그냥 처음 생각대로 flex로 나누어야했었나? ㅠ ㅠ */
/* 일단 오늘 너무 컨디션 안좋아서 일직 자러 고고~ 낼 회사에서 어케든 마무리를... */
/* 다됐는데!! 갑자기 화면 왜 이래!? 아오.. 돌겠네... */

* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
    --container-width: 100vw;
    --slide-width: 400px calc(100vw - 200px - 400px);
    --slide-height: calc(100vh - 120px);
}

.container {
    display: grid;
    grid-template-columns: 200px 400px 1fr;
    grid-template-rows: calc(100vh - 120px);
}

header {
    width: 200px;
    height: calc(100vh - 120px);
    background-color: var(--main-color);
    position: relative;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
}

footer { width: 100%; height: 120px; }

#contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: calc(100vh - 120px);
}

header .logo-a img {
    width: 190px;
    height: 45px;
    object-fit: contain;
    padding: 0 10px;
}

header nav {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

header nav .main-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header nav .main-menu li {
    position: relative; /* 안해서, 한참 헤메이다 넣고 성공; */
    width: 150px;
    height: 50px;
    line-height: 50px;
    /* text-align: center; */
}

header nav .main-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

header nav .main-menu li a:hover {
    background-color: var(--text-color);
}

header nav .sub-menu {
    position: absolute;
    top: 0;
    left: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
}

header nav .sub-menu > li {
    background-color: var(--sub-color);
}

header nav .sub-menu > li a {
    color: var(--main-color)
}

header nav .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}

#slides {
    width: var(--slide-width);
    height: var(--slide-height);
    overflow: hidden;
}

.slide-container {
    position: relative;
    display: flex;
}

.slide-container .slide {
    width: var(--slide-width);
    height: var(--slide-height);
}

.slide-container .slide a img {
    width: var(--slide-width);
    height: var(--slide-height);
}

/* 흠... 개별로 하면 망하려나.. 일단 해보고(?) */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 10px;
}

.banner .inner {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.banner h1 { font-size: 18px; }

.banner span { font-size: 13px; }

.banner p { font-size: 14px; }

.tab-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 10px;
}

.tab-menu .menu-item {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--main-color);
}

.tab-menu .menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

.tab-content .content-item ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    line-height: 50px;
}

.tab-content .content-item ul li:nth-of-type(odd) {
    background-color: var(--sub-color);
}

.tab-content .content-item ul li:nth-of-type(even) {
    background-color: var(--back-color);
}

.tab-content .content-item ul li:hover {
    filter: brightness(90%);
}

/* 하면서 점점더 느끼는데, 이거 아무리 생각해도 처음한 생각이 맞았던거 같은데... */

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 160px;
}

.gallery .item a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 으아!? 다시 처음생각한대로 flex 레이아웃 잡고 다시... ㄱㄱ */
.link {
    width: 100%;
    /* height: 100px; */
}

.link nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    column-gap: 20px;
}

.link nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link nav a:hover {
    transform: translateY(-10px);    
    transition: all 0.3s;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

footer .footer-logo a img {
    width: 200px;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%);
    padding: 0 10px;
}

footer .inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

footer nav {
    width: 100%;
    height: 100%;
}

footer nav.fnb {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    column-gap: 50px;
}

footer nav.fnb a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

footer nav.fnb a:hover {
    font-weight: bold;
    color: var(--main-color);
}

footer nav.fnb a:not(:first-of-type)::before {
    position: absolute;
    top: 0;
    left: -25px;
    width: 2px;
    height: 18px;
    content: "";
    background-color: var(--text-color);
}

/* 오!? 뭐지!? 망했는데...!? 집에서는 멀쩡해보였는데,
            왜 회사에서는 화면이 이상해지냐... 뭐지!? */

footer .copy { padding: 0 30px; }

footer .family {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .family select {
    padding: 5px 10px;
    background-color: var(--sub-color);
    color: var(--main-color);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#modal .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#modal .card {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

#modal .card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--main-color);
}

#modal .card p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-color);
}

#modal .close {
    padding: 5px 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}