@charset "utf-8";

/* 시험지 만 보고 html.css.js 다 작성 해보기 도전! */

/* 09월 04일 시작 : 12시 17분 / 종료 : 12시 58분 */
/* 09월 04일 시작 : 17시 08분 / 종료 : 17시 28분 */
/* 최악, 화면에서 자꾸 위치 달라져서 레이아웃 못잡음!
 시간 다먹음... 퇴근후 집에서 해야함... */
 /* 진짜 망함, 아무리 해도 안됨... 어쩌지(?) 왜 그런지를 모르겠다... */
 /* 내일 수업 후 다시 하는걸로... 지금 뭔가 정신상태가 너무 안좋은듯;; */
 /* 20분 추가.. 성공...? 이게 성공인가 (?) 그지같네... ㅡ_ㅡ */

* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #0a9b97;
    --sub-color: #f04467;
    --back-color: #ffffff;
    --text-color: #666666;
    --container-width: 1340px;
    --slide-width: 100vw;
    --slide-height: 350px;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
}

.container {
    width: var(--container-width);
    margin: auto;
    position: relative;
}

#slides { height: 350px; }

header {
    display: flex;
    /* justify-content: space-between; */
    background-color: var(--main-color);
    width: 100%;
    height: 100px;
    padding: 0 20px;
    align-items: center;
    position: relative;
}

footer {
    width: 100%;
    height: 120px;
}

header .logo a img {
    width: 200px;
    height: auto;
    object-fit: contain;
    padding: 0 10px;
}

header nav {
    /* position: relative; */
    width: 100%;
    z-index: 10;
    /* display: flex;
    justify-content: end;
    align-items: end; */
}

header nav .main-menu {
    /* position: relative; */
    display: flex;
    justify-content: end; /* 어! 얘다! */
    align-items: end;
}

header nav .main-menu li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header nav .main-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

header nav .main-menu li a:hover {
    background-color: var(--text-color);
}

header nav.sub {
    width: 100%; /* 얘가 계속 문제네... */
    height: 200px;
    position: absolute;
    top: 100%;
    left: 0; /* 어!? 됐다! */ /* 하씨... 또 틀어지네... ㅡ_ㅡ */
    display: none;
}

header nav.sub .inner {
    display: flex;
   /*  align-items: center;
    justify-content: center; */
    align-items: end;
    justify-content: end;
    padding: 0 20px;
    background-color: var(--sub-color);
    /* width: 100vw;
    height: 100%; */
}
/* 하씨 그제는 잘됐는데... ㅠ ㅠ 왜 안되지.... 운빨인생... */
header nav.sub .sub-menu > li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header nav.sub .sub-menu > li a {
    color: white;
    width: 100%;
    height: 100%;
    display: inline-block;
}

header nav.sub .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}

#slides {
    width: var(--slide-width);
    height: var(--slide-height);
    overflow: hidden;
}

.slide-container {
    position: relative;
    display: flex;
}

.slide-container .slide {
    width: var(--slide-width);
    height: var(--slide-height);
}

.slide-container .slide a img {
    width: var(--slide-width);
    height: var(--slide-height);
}

.link {
    position: absolute;
    top: -20%;
    left: 0;
    z-index: 10;
}
.link nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link nav a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 10px;
}

.link nav a:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .inner {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 50px;
    row-gap: 10px;
    padding: 5px 10px;
}

.banner h1 { font-size: 24px; }

.banner span { font-size: 14px; }

.banner p { font-size: 16px; }

.tab-menu {
    display: flex;
    align-items: center;
    padding: 0 10px;
    column-gap: 10px;
}

.tab-menu .menu-item {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.tab-menu .menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.tab-menu .menu-item:hover,
.tab-menu .menu-item.active {
    background-color: var(--main-color);
}

.tab-menu .menu-item:hover a,
.tab-menu .menu-item.active a {
    color: white;
}

.tab-content .content-item ul li a {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    padding: 0 20px;
}

.tab-content .content-item ul li:nth-of-type(odd) {
    background-color: var(--sub-color);
}

.tab-content .content-item ul li:nth-of-type(even) {
    background-color: var(--back-color);
}

.tab-content .content-item ul li:hover {
    filter: brightness(90%);
}

#content-gallery { display: none; }

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* height: 160px; */
    /* column-gap: 30px; */
    padding: 0 20px;
}

.gallery .item a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    padding: 0 20px;
    align-items: center;
}

footer .inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer nav.fnb {
    display: flex;
    justify-content: start;
    align-items: center;
    /* column-gap: 30px; */
    padding: 0 10px;
}

footer nav.fnb a {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100%;
}

footer nav.fnb a:hover {
    font-weight: bold;
    color: var(--main-color);
}

footer nav.fnb a:not(:first-of-type)::before {
    position: absolute;
    top: 0; /* 이게 왜? */
    left: -20px;
    width: 2px;
    height: 18px;
    content: "";
    background-color: var(--text-color);
}

footer .copy { padding: 0 30px; }

#modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#modal .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#modal .card {
    background-color: white;
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

#modal .card h1 {
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: 24px;
}

#modal .card p {
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 16px;
}

#modal .close {
    padding: 5px 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}