@charset "utf-8";

/* 시험지 만 보고 html.css.js 다 작성 해보기 도전! */

/* 09월 04일 시작 : 12시 17분 / 종료 : 12시 58분 */
/* 09월 04일 시작 : 17시 08분 / 종료 : 17시 28분 */
/* 최악, 화면에서 자꾸 위치 달라져서 레이아웃 못잡음!
 시간 다먹음... 퇴근후 집에서 해야함... */
 /* 진짜 망함, 아무리 해도 안됨... 어쩌지(?) 왜 그런지를 모르겠다... */
 /* 내일 수업 후 다시 하는걸로... 지금 뭔가 정신상태가 너무 안좋은듯;; */

* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #0a9b97;
    --sub-color: #f04467;
    --back-color: #ffffff;
    --text-color: #666666;
    --container-width: 1340px;
    --slide-width: 100vw;
    --slide-height: 350px;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
}

.container {
    width: var(--container-width);
    margin: auto;
    position: relative;
}

#slides { height: 350px; }

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    width: 100%;
    height: 100px;
    padding: 0 20px;
    align-items: center;
    position: relative;
}

footer {
    width: 100%;
    height: 120px;
}

header .logo a img {
    width: 200px;
    height: auto;
    object-fit: contain;
    padding: 0 10px;
}

header nav {
    display: flex;
    width: 100%;
    z-index: 10;
    /* display: flex;
    justify-content: end;
    align-items: end; */
}

header nav .main-menu {
    display: flex;
    align-items: end;
    /* width: 100%; */
}

header nav .main-menu li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header nav .main-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

header nav .main-menu li a:hover {
    background-color: var(--text-color);
}

header nav.sub {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 100%;
    left: 200px;
    /* display: none; */
}

header nav.sub .inner {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 20px;
    background-color: var(--sub-color);
}

header nav.sub .sub-menu > li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header nav.sub .sub-menu > li a {
    color: white;
    width: 100%;
    height: 100%;
    display: inline-block;
}

header nav.sub .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}

#slides {
    width: var(--slide-width);
    height: var(--slide-height);
    overflow: hidden;
}

.slide-container {
    position: relative;
    display: flex;
}

.slide-container .slide {
    width: var(--slide-width);
    height: var(--slide-height);
}

.slide-container .slide a img {
    width: var(--slide-width);
    height: var(--slide-height);
}

.link {
    position: absolute;
    top: -13%;
    left: 0;
    z-index: 10;
}
.link nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link nav a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 10px;
}

.link nav a:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .inner {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 50px;
    row-gap: 10px;
    padding: 5px 10px;
}

.banner h1 { font-size: 24px; }

.banner span { font-size: 14px; }

.banner p { font-size: 16px; }