@charset "utf-8";


/* 08월 27일 시작 : 07시 02분 / 종료 : 07시 40분 */
/* 08월 27일 시작 : 12시 15분 / 종료 : 12시 59분 */
/* 08월 27일 시작 : 17시 05분 / 종료 : 17시 25분 */


* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
    --container-width: 100vw;
    --slide-width: calc(100vw - 600px);
    --slide-height: calc(100vh - 120px);
}
/* container.slide 넓이.높이 계산 부터 생각 길어짐...
                  지금 써넣은 저 계산법이 맞는건지 확신 없음 */

body {
    background-color: var(--back-color);
    color: var(--text-color);
}










/* 레이아웃 나누는 거에서 부터 너무 심하게 생각 길어지고 막혀버림... */
.container {
    display: grid;
    grid-template-columns: 400px calc(100vw - 200px - 400px);
    grid-template-rows: calc(100% - 120px);
    margin: auto;
    width: var(--container-width);
    /* display: flex;
    justify-content: space-between;
    width: 100%;
    height: 800px; */
}

#contents { 
    width: 400px;
    height: calc(100vh - 120px);
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start; */
}

#slides { width: var(--slide-width) }

footer { height: 120px; }

header {
    width: 200px;
    height: calc(100% - 120px);
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 50px;
}











header .logo a img {
    width: 200px;
    height: auto;
    object-fit: contain;
}



header nav {
    position: relative;
    z-index: 10;
}

header nav .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

header nav .main-menu li {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header nav .main-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

header nav .main-menu li a:hover {
    background-color: #333333;
}



header nav .sub-menu {
    display: none;
    text-align: center;
    width: 150px;
    line-height: 50px;
    /* 이번 시험지 처음부터 너무 심하게 막히네... */
}

header nav .sub-menu > li {
   background-color: white;
}

header nav .sub-menu > li a {
    color: var(--main-color);
}

header nav .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}





header .spot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    line-height: 50px;
    column-gap: 20px;
    padding: 0 10px;
    font-size: 13px;
}

header .spot a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

header .spot a:not(:first-of-type)::before {
    position: absolute;
    top: 16px;
    left: -20px;
    content: "";
    width: 2px;
    height: 16px;
    background-color: var(--sub-color);
}










.banner {
    
}

.banner .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.banner h1 { font-size: 24px; }

.banner span { font-size: 14px; }

.banner p { font-size: 16px; margin: 0; }











.tab-menu {
    display: flex;
    align-items: center;
    justify-content: start;
}

.tab-menu .menu-item {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.tab-menu .menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color: white;
}

.tab-menu .menu-item a:hover 

.content-item ul li a 
.content-item ul li:nth-of-type(odd) 
.content-item ul li:nth-of-type(even) 
.content-item ul li:hover 