@charset "utf-8";

/* 시험지 만 보고 html.css.js 다 작성 해보기 도전! */

/* 09월 02일 시작 : 22시 15분 / 종료 : 23시 10분 */
/* 09월 03일 시작 : 06시 10분 / 종료 : 07시 23분 */

/* 너무 너무 너무 어렵고, 힘들.... 이거 익숙해 질수 있나!? */

* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
    --container-width: 100vw;
    --slide-width: calc(100vw - 200px);
    --slide-height: 400px;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: calc(400px + 200px + 250px);
}

header {
    width: 200px;
    height: calc(400px + 200px + 250px);
    background-color: var(--main-color);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#contents { width: 100%; }

footer { width: 100%; height: 120px; }

header .logo a img {
    width: 200px;
    height: 40px;
    object-fit: contain;
    padding: 0 20px;
}

header nav {
    position: relative;
    z-index: 10;
}

header nav .main-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav .main-menu li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header nav .main-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

header nav .main-menu li a:hover {
    background-color: var(--text-color);
}

header nav.sub { 
    position: absolute;
    top: 3%;
    left: 200px;
    width: calc(100vw - 200px);
    height: calc(50px * 4);
    background-color: var(--sub-color);
    display: none;
}

header nav.sub .inner {
    display: flex;
    justify-content: start;
    align-items: center;
}

header nav.sub .sub-menu {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header nav.sub .sub-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: var(--main-color);
}

header nav.sub .sub-menu li a:hover {
    background-color: var(--main-color);
    color: white;
}

/* 헐... 잘되다가 갑자기 왜 막혀서 안된거지(?)
    아... 세로.. 가로 100%... html 구조 잘못, 시간 엄청 들어갔네... 좌절... */
/* 나머지 는 내일 회사가서 최대한 빠르게...(?) */

header .spot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 50px;
}

header .spot a {
    position: relative;
    color: white;
}

header .spot a:not(:first-of-type)::before {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -25px;
    background-color: var(--sub-color);
    content: "";
    width: 2px;
    height: 16px;
}

#slides {
    width: var(--slide-width);
    height: var(--slide-height);
    overflow: hidden;
}

.slide-container {
    position: relative;
    display: flex;
}

.slide-container .slide {
    position: absolute;
    width: var(--slide-width);
    height: var(--slide-height);
}

.slide-container .slide img {
    width: var(--slide-width);
    height: var(--slide-height);
}

.link {
    z-index: 10;
}

.link nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.link nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--back-color);
    border-radius: 10px;
}

.link nav a:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
}

.banner {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .inner {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.banner h1 { font-size: 24px; }

.banner span { font-size: 14px; }

.banner p { font-size: 16px; }

.tab {
    width: 100%;
    height: 250px;
}

.tab-menu {
    display: flex;
    align-items: center;
    column-gap: 20px;
    text-align: center;
    padding: 0 10px;
}

.tab-menu .menu-item {
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: var(--main-color);
}

.tab-menu .menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

.tab-menu .menu-item:hover,
.tab-menu .menu-item.active {
    background-color: var(--main-color);
}

.tab-menu .menu-item:hover a,
.tab-menu .menu-item.active a {
    color: white;
}

.tab-content .content-item ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    padding: 0 20px;
}

.tab-content .content-item ul li:nth-of-type(odd) {
    background-color: var(--sub-color);
}

.tab-content .content-item ul li:nth-of-type(even) {
    background-color: var(--back-color);
}

.tab-content .content-item ul li:hover {
    filter: brightness(90%);
}

#content-gallery { display: none; }

.gallery {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 160px;
    align-items: center;
}

footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-logo a img {
    width: 200px;
    height: auto;
    filter: grayscale(100%);
    object-fit: contain;
}

footer .inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding: 0 10px;
}

footer .fnb {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
    padding: 0 10px;
}

footer .fnb a {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100%;
}

footer .fnb a:hover {
    font-weight: bold;
    color: var(--main-color);
}

footer .fnb a:not(:first-of-type)::before {
    position: absolute;
    top: 4px;
    left: -25px;
    content: "";
    background-color: var(--text-color);
    width: 2px;
    height: 18px;
}

footer .copy {  padding: 0 30px; }

#modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#modal .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#modal .card {
    background-color: white;
    width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

#modal .card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--main-color);
}

#modal .card p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-color);
}

#modal .close {
    padding: 5px 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}