@charset "utf-8";

* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }
a { text-decoration: none; color: var(--text-color); }
:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
    --container-width: 100vw;
    --container-height: 100vh;
    --slide-width: calc(100vw - 600px);
    --slide-height: calc(100vh - 120px);
}
body {
    background-color: var(--back-color);
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}






.container {
    position: relative;
    width: var(--container-width);
    margin: auto;
    display: grid;
    grid-template-columns: 200px 400px calc(100vw - 600px);
    grid-template-rows: calc(100vh - 120px);
}

header {
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 50px;
    padding: 0 20px;
}

#contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

footer { height: 120px; }






header .logo a img {
    width: 200px;
    height: auto;
    object-fit: contain;
}





header nav {
    position: relative;
    z-index: 10;
}

header nav .main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav .main-menu li {
    width: 200px;
    line-height: 50px;
    text-align: center;
}
header nav .main-menu li a {
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}
header nav .main-menu li a:hover {
    background-color: #333333;
}





header nav .sub-menu { display: none; }

header nav .sub-menu > li {
    background-color: white;
}

header nav .sub-menu > li a {
    color: var(--main-color);
}

header nav .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}





header .spot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    column-gap: 20px;
}

header .spot a {
    position: relative;
    color: var(--back-color);
}

header .spot a:not(:first-of-type)::before {
    position: absolute;
    left: -10px;
    content: "";
    display: inline-block;
    width: 2px;
    height: 18px;
    border: 1px solid 2px;
    background-color: var(--back-color);
}






#slides {
    width: var(--slide-width);
    height: var(--slide-height);
    overflow: hidden; /* 어? 시험지랑 같은데 사이즈.... 100vh - 120px 맞는데?? var 사이즈 설정 그리됐는데? 왜 깔끔하게 안짤리지? 흐으음... 뭐지!? */
}

.slide-container {
    position: relative;
    display: flex; /* 어? 여기서 속성 주니 갑자기 깔끔하게 딱 됐네? 으으음... 뭔 원리였을까? 으으으... 궁금하다아! */
}

.slide-container .slide img {
    width: var(--slide-width);
    height: var(--slide-height);
}







.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--sub-color);
}

.banner .inner {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.banner h1 { font-size: 20px; }

.banner span { font-size: 12px; }

.banner p { font-size: 12px; margin: 0; }







.tab-menu {
    display: flex;
    align-items: center;
    height: 40px;
}

.tab-menu .menu-item {
    border-bottom-width: 0;
    width: 100px;
    height: calc(40px - 2px);
    line-height: calc(40px - 2px);
    text-align: center;
    background-color: var(--main-color);
}

.tab-menu .menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}







.tab-content {
    position: relative;
    top: -2px;
}

.tab-content .content-item ul li a {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.tab-content .content-item ul li:nth-of-type(odd) {
    background-color: var(--sub-color);
}

.tab-content .content-item ul li:nth-of-type(even) {
    background-color: var(--back-color);
}

.tab-content .content-item ul li:hover {
    filter: brightness(90%);
}






.btn-modal { cursor: pointer; }





.gallery {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc( (100% - 300px) / 4);  /* 이미지가 2개인데, 왜 4등분 으로 한걸까? 흐으음.... 딱히 상관이없나? 뭔가 뒤에서 정리되려나? */
}

.gallery .item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 정리가 되긴한데... 뭔가 좀... 3으로 나누니까 좀더 이쁜데... 흐으음... */
}






.link nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.link nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--sub-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.link nav a:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}
/* 앞에서 계속 있다가 없으니까 뭔가 허전해서 그냥 냅다 넣어봄... 쓸데없는건 왜 기억이 나서... 이게 또 돼긴하네;; */









footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-logo {
    filter: grayscale(100%);
}

footer .footer-logo a img {
    width: 200px;
    height: auto;
    object-fit: contain;
}





footer .inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 40px;
}






footer .fnb {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 40px;
    padding: 0 20px;
}

footer .fnb a {
    position: relative;
    width: 100px;
    text-align: center;
}

footer .fnb a:hover {
    color: var(--main-color);
    font-weight: bold;
}

footer .fnb a:not(:first-of-type)::before {
    position: absolute;
    top: 2px;
    left: -20px;
    content: "";
    display: inline-block;
    width: 2px;
    height: 18px;
    border: 1px solid 2px;
    background-color: var(--text-color);
}

footer .copy { padding: 0 20px; }






#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#modal .inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

#modal .card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--main-color);
}

#modal .card p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-color);
}



#modal .close {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}