@charset "utf-8";

/* 스스로 치기 12시 46분 시작 / 13시 00분 종료 */
/* 스스로 치기 17시 05분 시작 / 17시 25분 종료 */
/* 스스로 치기 21시 20분 시작 / ......... */

* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
}

section { width: 100%; }

#slides { height: 300px; }

#contents { height: 200px; }

footer { width: 100%; height: 100px; }







header .logo a img {
    width: 200px;
    height: 40px;
}

header nav {
    z-index: 10;
    display: flex;
    height: 100%;
}

header nav .main-menu {
    display: flex;
    align-items: end;
}

header nav .main-menu li {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

header nav .main-menu li a {
    color: white;
}

header nav .main-menu li a:hover {
    background-color: #333333;
}

header nav.sub {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
}

header nav.sub .inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(40px * 4);
}

header nav.sub .sub-menu {
    background-color: white;
}

header nav.sub .sub-menu li {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

header nav.sub .sub-menu li a {
    display: inline-block;
    color: var(--main-color);
    width: 100%;
    height: 100%;
}

header nav.sub .sub-menu li a:hover {
    background-color: var(--main-color);
    color: white;
}








#slides {
    width: 1200px;
    height: 300px;
    overflow: hidden;
}

.slide-notainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.slide-notainer .slide {
    width: 1200px;
    height: 300px;
}

.slide-notainer .slide a img {
    width: 1200px;
    height: 100%;
}








#contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
}

.tab-menu {
    display: flex;
}

.tab-menu .menu-item {
    width: 100px;
    height: 40px;
}

.tab-menu .menu-item a {}