@charset "utf-8";

/* 스스로 치기 12시 46분 시작 / 13시 00분 종료 */
/* 스스로 치기 17시 05분 시작 / 17시 25분 종료 */
/* 스스로 치기 21시 40분 시작 / 22시 20분 종료 */
/* 기억 잘 안나는건 그냥 배운것 토대로 생각해서 한거라 선생님꺼랑 다른거 많음 */
/* 일단 화면에서 보이는건 시험지랑 비슷하긴 해서... 다 수정하기 피곤... 너무 틀린것 몇개만 수정함... */

* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
}

section { width: 100%; }

#slides { height: 300px; }

#contents { height: 200px; }

footer { width: 100%; height: 100px; }







header .logo a img {
    width: 200px;
    height: 40px;
}

header nav {
    z-index: 10;
    display: flex;
    height: 100%;
}

header nav .main-menu {
    display: flex;
    align-items: end;
}

header nav .main-menu li {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

header nav .main-menu li a {
    color: white;
    display: inline-block;
    width: 100px;
    height: 100%;
}

header nav .main-menu li a:hover {
    background-color: #333333;
}

header nav.sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    height: 200px;
}

header nav.sub .inner {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: var(--sub-color);
}

header nav.sub .sub-menu > li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header nav.sub .sub-menu > li a {
    display: inline-block;
    color: var(--main-color);
    width: 100%;
    height: 100%;
}

header nav.sub .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}








#slides {
    width: 1200px;
    height: 300px;
    overflow: hidden;
}

.slide-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.slide-container .slide {
    width: 1200px;
    height: 300px;
}

.slide-container .slide a img {
    width: 1200px;
    height: 100%;
}








#contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
}

.tab-menu {
    display: flex;
    align-items: center;
    height: 40px;
}

.tab-menu .menu-item {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--main-color);
}

.tab-menu .menu-item a {
    display: inline-block;
    width: 100px;
    height: 100%;
    color: white;
}

.content-item ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.content-item ul li:nth-of-type(odd) {
    background-color: var(--sub-color);
}

.content-item ul li:nth-of-type(even) {
    background-color: var(--back-color);
}

.content-item ul li:hover {
    filter: brightness(90%);
}

.btn-modal { cursor: pointer; }

.gallery {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link img { width: 100%; }








footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

footer .copy { text-align: center; }

footer .inner {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px 20px;
}

footer .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

footer .sns a img {
    width: 30px;
    height: 30px;
}

footer .family {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

footer .family select {
    padding: 5px 10px;
    background-color: var(--sub-color);
    color: var(--main-color);
    cursor: pointer;
    border-radius: 5px;
}

#modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#modal .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#modal .card {
    background-color: white;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#modal .card h1 {
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: 24px;
}

#modal .card p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-color);
}

#modal .close {
    border: none;
    color: white;
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
}