@charset "utf-8";


/* 시험지만 보고 스스로 치기 도전! 모든 어려운 요소 총 집합! 제일 짜증나는 시험문제! */

/* 최대한 시간 안따지고 천천히 생각해서 해볼생각임, 목표 틀리거나 빼먹은거 16개 이하 */

/* 시작 시간 : 08월 25일 07시 11분 / 종료 시간 : 07시 35분 */
/* 시작 시간 : 08월 25일 12시 15분 / 종료 시간 : 13시 00분 */
/* 시작 시간 : 08월 25일 17시 05분 / 종료 시간 : 17시 25분 */
/* 시작 시간 : 08월 25일 21시 45분 / 종료 시간 : 22시 28분 */

/* 틀린 부분 : 08개 / 수정 완료 22시 51분 */

* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }

a { text-decoration: none; color: var(--text-color); }

:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
    --container-width: 100%;
    --slide-width: 100%;
    --slide-height: 400px;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
}









.container {
    position: relative;
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: auto;
    grid-template-rows: calc(400px + 200px + 250px);
    width: var(--container-width);
}

#contents {
    position: relative;
    overflow: hidden;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 50px;
    padding: 0 20px;
    background-color: var(--main-color);
    height: calc(400px + 200px + 250px);
}

footer { height: 120px; }










header .logo a img {
    width: 200px;
    height: 40px;
    object-fit: contain;
}



header .menu { position: relative; }

header nav {
    position: relative;
    z-index: 10;
}

header nav .main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav .main-menu li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header nav .main-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

header nav .main-menu li a:hover {
    background-color: #333333;
}





header nav.sub {
    position: relative;
    display: none;
}
header nav.sub .inner {
    position: absolute;
    top: -200px;
    left: 200px;
    column-gap: 50px;
}

header nav.sub .sub-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    width: calc(100vw - 200px); /* 아오 돌겠네.... 나가버리냐... */
    height: 50px;
    line-height: 50px;
}

header nav.sub .sub-menu > li {
    background-color: rgba(255, 255, 255, 0.7);
    width: 150px;
    height: auto;
    line-height: 50px;
}

header nav.sub .sub-menu > li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: var(--main-color);
    text-align: center;
}

header nav.sub .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}






header .spot {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

header .spot a {
    position: relative;
    height: auto;
    color: white;
    text-align: center;
    padding: 0 10px;
}

header .spot a:not(:first-of-type)::before {
    position: absolute;
    top: 3px;
    left: 0px; /* 위치 거지같아서 못해먹겠..... */
    content: "";
    background-color: var(--sub-color);
    width: 2px;
    height: 18px;
}










#slides {
    width: var(--slide-width);
    height: var(--slide-height);
    overflow: hidden;
}

.slide-container {
    position: relative;
    display: flex;
}

.slide-container .slide {
    position: absolute;
    width: var(--slide-width);
    height: var(--slide-height);
}

.slide-container .slide img {
    width: var(--slide-width);
    height: var(--slide-height);
}










.link {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.link nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 10px;
    background-color: var(--sub-color);
    border-radius: 10px;
}

.link nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--main-color);
    border-radius: 10px;
    font-size: 12px;
}

.link nav a:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}










.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.banner .inner {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 200px;
}
/* 이미지랑 글자 간격 띄우고 싶은데 뭘 해도 안됨... 개빡침 */
.banner h1 { font-size: 24px; }

.banner span { font-size: 14px; }

.banner p { font-size: 16px; margin: 0; }










.tab {
    height: 250px;
    width: 100%;
}

.tab-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.tab-menu .menu-item {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 20px;
}

.tab-menu .menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.tab-menu .menu-item:hover,
.tab-menu .menu-item.active {
    background-color: var(--main-color);
}

.tab-menu .menu-item:hover a,
.tab-menu .menu-item.active a {
    color: white;
}





.tab-content .content-item ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 40px;
}

.tab-content .content-item ul li:nth-of-type(odd) {
    background-color: var(--sub-color);
}

.tab-content .content-item ul li:nth-of-type(even) {
    background-color: var(--back-color);
}

.tab-content .content-item ul li:hover {
    filter: brightness(90%);
}





#content-gallery { display: none; }

.gallery {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
}

.gallery .item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}










footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




footer .footer-logo img {
    width: 200px;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%);
}




footer .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    width: 100%;
    height: 100%;
}




footer .fnb {
    display: flex;
    align-items: center;
    column-gap: 40px;
    padding: 0 20px;
    justify-content: space-evenly;
}

footer .fnb a {
    position: relative;
    width: 100px;
    text-align: center;
    height: auto;
    font-size: 14px;
}

footer .fnb a:hover {
    font-weight: bold;
    color: var(--main-color);
}

footer .fnb a:not(:first-of-type)::before {
    position: absolute;
    top: 4px;
    left: -20px;
    content: "";
    background-color: var(--text-color);
    width: 1px;
    height: 16px;
}



footer .copy { text-align: center; }










#modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

#modal .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#modal .card {
    background-color: white;
    width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#modal .card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--main-color);
}

#modal .card p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-color);
}

#modal .close {
    padding: 5px 10px;
    border: none;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}